img{
    transform: scale(1.4);
}
label,input[type=text],select{
    width: 70%;
    position: relative;
    top: -12px;
    font-size: 20px;
}
form{
    position: relative;
    left: 140px;
    padding: 5px;
}
.card{
    width: 80%;
}
.A{
    margin-top: -0.9999em;
}